image:
  name: "giantswarm/silence-operator"
  tag: "[[ .Version ]]"
pod:
  user:
    id: 1000
  group:
    id: 1000
project:
  branch: "[[ .Branch ]]"
  commit: "[[ .SHA ]]"

sync:
  enabled: true
  repository: github.com/giantswarm/silences
  github:
    token: ""

initContainer:
  name: "giantswarm/alpinegit"
  tag: "v2.26.2-giantswarm"


cluster:
  name: ""
  provider:
    kind: ""

registry:
  domain: docker.io
