global:
  podSecurityStandards:
    enforced: false

image:
  name: "giantswarm/silence-operator"
  tag: "[[ .Version ]]"

alertmanagerAddress: ""
alertmanagerAuthentication: false
# -- Default alertmanager tenant
alertmanagerDefaultTenant: ""

project:
  branch: "[[ .Branch ]]"
  commit: "[[ .SHA ]]"

cluster:
  name: ""
  provider:
    kind: ""

registry:
  domain: gsoci.azurecr.io

# Add seccomp to pod security context
podSecurityContext:
  runAsGroup: 1000
  runAsUser: 1000
  runAsNonRoot: true
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - "ALL"
  seccompProfile:
    type: RuntimeDefault

rbac:
  create: true
  # The PSP will only be deployed when Kubernetes supports it (<1.25)
  pspEnabled: true
