# Default values for silence-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates

## Provide a name in place of silence-operator for `app:` labels
##
nameOverride: ""

## Override the deployment namespace
##
namespaceOverride: ""

image:
  registry: gsoci.azurecr.io
  name: "giantswarm/silence-operator"
  tag: ""

# TODO improve this for better user experience
alertmanagerAddress: ""
alertmanagerAuthentication: false
# -- Default alertmanager tenant
alertmanagerDefaultTenant: ""

# Label selector to filter Silence custom resources.
# If empty, all Silence CRs are processed.
# Example: 'environment=production,tier=frontend'
silenceSelector: ""

# -- Configures the pod security context
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65534
  seccompProfile:
    type: RuntimeDefault

# -- Configures the container security context
containerSecurityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
      - ALL

# -- Configures the network policy
networkPolicy:
  # -- Whether to create a network policy for the silence operator
  enabled: true
  # -- The network policy flavor to use. Can be either kubernetes or cilium.
  flavor: "kubernetes"

resources:
  requests:
    cpu: 50m
    memory: 50Mi
  limits:
    cpu: 50m
    memory: 100Mi

rbac:
  create: true

crds:
  # Whether to install the Silence CRD with this chart.
  install: true
