global:
  podSecurityStandards:
    enforced: false

image:
  name: "giantswarm/silence-operator"
  tag: "[[ .Version ]]"

alertmanagerAddress: http://alertmanager-operated.monitoring.svc:9093

# Enable Kyverno PolicyException
kyvernoPolicyExceptions:
  enabled: true
  namespace: giantswarm

pod:
  user:
    id: 1000
  group:
    id: 1000

project:
  branch: "[[ .Branch ]]"
  commit: "[[ .SHA ]]"

sync:
  enabled: true
  repository: github.com/giantswarm/silences
  github:
    token: ""

initContainer:
  name: "giantswarm/alpinegit"
  tag: "v2.26.2-giantswarm"


cluster:
  name: ""
  provider:
    kind: ""

registry:
  domain: docker.io

# Add seccomp to pod security context
podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  seccompProfile:
    type: RuntimeDefault

rbac:
  create: true
  # The PSP will only be deployed when Kubernetes supports it (<1.25)
  pspEnabled: true
