version: 2.1

orbs:
  architect: giantswarm/architect@4.8.0

workflows:
  build:
    jobs:
      - architect/go-build:
          name: go-build
          binary: silence-operator
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          context: "architect"
          name: push-silence-operator-to-quay
          image: "quay.io/giantswarm/silence-operator"
          username_envar: "QUAY_USERNAME"
          password_envar: "QUAY_PASSWORD"
          requires:
            - go-build
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-docker:
          context: "architect"
          name: push-silence-operator-to-aliyun
          image: "registry-intl.cn-shanghai.aliyuncs.com/giantswarm/silence-operator"
          username_envar: "ALIYUN_USERNAME"
          password_envar: "ALIYUN_PASSWORD"
          requires:
            - go-build
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/


      - architect/push-to-app-catalog:
          context: "architect"
          name: push-silence-operator-to-app-catalog
          app_catalog: "control-plane-catalog"
          app_catalog_test: "control-plane-test-catalog"
          chart: "silence-operator"
          requires:
            - push-silence-operator-to-quay
          # Needed to trigger job also on git tag.
          filters:
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-silence-operator-to-shared-app-collection
          context: architect
          app_name: "silence-operator"
          app_namespace: "monitoring"
          app_collection_repo: "shared-app-collection"
          requires:
            - push-silence-operator-to-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-silence-operator-to-aws-app-collection
          context: architect
          app_name: "silence-operator"
          app_namespace: "monitoring"
          app_collection_repo: "aws-app-collection"
          requires:
            - push-silence-operator-to-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-silence-operator-to-azure-app-collection
          context: architect
          app_name: "silence-operator"
          app_namespace: "monitoring"
          app_collection_repo: "azure-app-collection"
          requires:
            - push-silence-operator-to-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-silence-operator-to-kvm-app-collection
          context: architect
          app_name: "silence-operator"
          app_namespace: "monitoring"
          app_collection_repo: "kvm-app-collection"
          requires:
            - push-silence-operator-to-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/

      - architect/push-to-app-collection:
          name: push-silence-operator-to-vmware-app-collection
          context: architect
          app_name: "silence-operator"
          app_namespace: "monitoring"
          app_collection_repo: "vmware-app-collection"
          requires:
            - push-silence-operator-to-app-catalog
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v.*/
