{{- if .Values.sync.enabled -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "resource.default.name"  . }}-sync
  namespace: {{ include "resource.default.namespace"  . }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
spec:
  startingDeadlineSeconds: 240
  concurrencyPolicy: Allow
  jobTemplate:
    metadata:
      labels:
        {{- include "labels.common" . | nindent 8 }}
      annotations:
        releaseRevision: {{ .Release.Revision | quote }}
    spec:
      template:
        metadata:
          labels:
            {{- include "labels.common" . | nindent 12 }}
          annotations:
            releaseRevision: {{ .Release.Revision | quote }}
        spec:
          initContainers:
          - name: {{ include "resource.default.name"  . }}-pull-silences
            image: "{{ .Values.registry.domain }}/{{ .Values.initContainer.name }}:{{ .Values.initContainer.tag }}"
            args:
            - clone
            - --depth=1
            - https://silence-operator:$(GITHUB_PULL_TOKEN)@{{ .Values.sync.repository }}
            - /data/silences
            env:
            - name: GITHUB_PULL_TOKEN
              valueFrom:
                secretKeyRef:
                  key: github-pull-token
                  name: {{ include "resource.default.name"  . }}
            securityContext:
            {{- with .Values.containerSecurityContext }}
              {{- . | toYaml | nindent 14 }}
            {{- end }}
            volumeMounts:
            - mountPath: /data
              name: silences
              readOnly: false
          containers:
          - name: {{ include "resource.default.name"  . }}-sync-silences
            image: "{{ .Values.registry.domain }}/{{ .Values.image.name }}:{{ .Values.image.tag }}"
            args:
            - sync
            - --dir=/data/silences
            - --kubernetes.incluster=true
            - --tag=installation={{ .Values.cluster.name }}
            - --tag=provider={{ .Values.cluster.provider.kind }}
            imagePullPolicy: Always
            securityContext:
            {{- with .Values.containerSecurityContext }}
              {{- . | toYaml | nindent 14 }}
            {{- end }}
            volumeMounts:
            - mountPath: /data
              name: silences
              readOnly: true
          dnsPolicy: ClusterFirst
          restartPolicy: OnFailure
          schedulerName: default-scheduler
          serviceAccountName: {{ include "resource.default.name"  . }}
          securityContext:
            {{- with .Values.podSecurityContext }}
              {{- . | toYaml | nindent 12 }}
            {{- end }}
          volumes:
          - name: silences
            emptyDir: {}
  schedule: "*/5 * * * *"
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
{{- end }}
