apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: {{ template "silence-operator.name" . }}
  namespace: {{ template "silence-operator.namespace" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "labels.selector" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{- include "labels.common" . | nindent 8 }}
      annotations:
        releaseRevision: {{ .Release.Revision | quote }}
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchLabels:
                  {{- include "labels.selector" . | nindent 18 }}
              topologyKey: kubernetes.io/hostname
            weight: 100
      containers:
      - name: {{ template "silence-operator.name" . }}
        image: "{{ .Values.image.registry }}/{{ .Values.image.name }}:{{ default .Chart.Version .Values.image.tag }}"
        args:
        - --leader-elect
        - --metrics-bind-address=:8080
        - --alertmanager-address={{ .Values.alertmanagerAddress }}
        - --alertmanager-authentication={{ .Values.alertmanagerAuthentication }}
        {{ with .Values.alertmanagerDefaultTenant }}
        - --alertmanager-default-tenant-id={{ . }}
        {{ end }}
        {{- if .Values.silenceSelector }}
        - --silence-selector={{ .Values.silenceSelector }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-healthz
          initialDelaySeconds: 30
          timeoutSeconds: 1
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        - containerPort: 8081
          name: http-healthz
          protocol: TCP
        resources: {{ toYaml .Values.resources | nindent 10 }}
        securityContext:
          {{- with .Values.containerSecurityContext }}
            {{- . | toYaml | nindent 10 }}
          {{- end }}
      securityContext:
        {{- with .Values.podSecurityContext }}
          {{- . | toYaml | nindent 8 }}
        {{- end }}
      serviceAccountName: {{ template "silence-operator.name" . }}
