{{- if .Values.podMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: {{ template "silence-operator.name" . }}
  namespace: {{ template "silence-operator.namespace" . }}
spec:
  namespaceSelector:
    matchNames:
      - {{ template "silence-operator.namespace" . }}
  selector:
    matchLabels:
      {{- include "labels.selector" . | nindent 6 }}
  podMetricsEndpoints:
    - port: http
{{ end }}
