{{- if .Values.rbac.create -}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: {{ template "silence-operator.name" . }}
rules:
  - apiGroups:
      - monitoring.giantswarm.io
      - observability.giantswarm.io
    resources:
      - silences
    verbs:
      - "*"
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs: 
      - "*"
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    {{- include "labels.common" . | nindent 4 }}
  name: {{ template "silence-operator.name" . }}
subjects:
  - kind: ServiceAccount
    name: {{ template "silence-operator.name" . }}
    namespace: {{ template "silence-operator.namespace" . }}
roleRef:
  kind: ClusterRole
  name: {{ template "silence-operator.name" . }}
  apiGroup: rbac.authorization.k8s.io
{{- end -}}
